* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

main {
  height: 100vh;

  background-color: #2c3334;
}

.content {
  display: grid;
  grid-template: repeat(3, min-content) / 1fr;
  gap: 2rem;

  max-width: 80rem;
  margin: 0 auto;

  padding: 2rem;
}

.main-text-wrapper h1 {
  color: white;
  font-size: clamp(2rem, 2vw, 4rem);
  text-align: center;
}

.video-wrapper video {
  width: 100%;
}

.email-input-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.email-input-wrapper input[type="email"] {
  max-width: 34.5rem;

  border-radius: 1rem;

  padding: 1rem;
}

.email-input-wrapper input[type="button"] {
  width: 15rem;
  
  margin-top: 1rem;

  border-radius: 1rem;

  padding: .5rem 1rem;

  background-color: #46AECC;

  font-size: 2rem;
  color: white;
}